*.cache
/Math_with_D_D/.idea
/Math_with_D_D/MathProject.Host.API/bin/Debug
/Math_with_D_D/MathProject.Host.Infrastructure/obj
/Math_with_D_D/MathProject.Host.API/obj/Debug
/Math_with_D_D/MathProject.Host.Domain/obj/Debug
/Math_with_D_D/MathProject.Host.API/obj
/Math_with_D_D/MathProject.Host.Application/bin/Debug
/Math_with_D_D/MathProject.Host.Domain/obj
/Math_with_D_D/.idea
/Math_with_D_D/MathProject.Host.Infrastructure/obj
/Math_with_D_D/MathProject.Host.Domain/obj
/Math_with_D_D/MathProject.Host.Application/obj
/Math_with_D_D/MathProject.Host.API/obj
/Math_with_D_D/MathProject.Host.API/bin
/Math_with_D_D/.idea
/Math_with_D_D/MathProject.Host.Infrastructure/obj
/Math_with_D_D/MathProject.Host.Domain/obj
/Math_with_D_D/MathProject.Host.Application/obj
/Math_with_D_D/MathProject.Host.API/obj
/Math_with_D_D/MathProject.Host.API/obj
/Math_with_D_D/MathProject.Host.Domain/obj
/Math_with_D_D/MathProject.Host.Infrastructure/bin/
/Math_with_D_D/MathProject.Client/MathProject.Client.Client/bin/
